<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title >Title</title>
</head>
<body>
    <h1>This is about page</h1>

    <section>
        <h1>This is about section</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aspernatur autem blanditiis culpa eius, esse eum
            molestiae nesciunt odit repellendus sed, sunt tenetur! Earum maxime, quas quibusdam quod recusandae saepe
            ullam voluptatibus voluptatum. Alias architecto at eum fugiat fugit illum itaque laboriosam maiores minima,
            numquam, officia provident quo suscipit ut.</p>
    </section>


</body>
</html>